body{
  padding: 0px;
  margin: 0px;
}
.hero {
  background: url('images/pexels.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 43rem;
  /* margin: 0px 3rem; */


}

.collapse.navbar-collapse{
  display: flex;
  justify-content: end;
  font-size: 20px;
  font-weight: 700;

}
.nav-link:hover {
color: rgb(245, 40, 40);
}
.container{
  display: grid;
  justify-content: center;
  align-content: center;
  height: 40rem;
}
.p1{
  font-size: 90px;
  font-weight: 400;
  color:white;
}
.p2{
  padding-left: 6rem;
  letter-spacing: 10px;
  font-size: 25px;
  color: white;
}
.btn1{
  padding: 15px 70px;
  background-color: rgb(238, 27, 27);
  margin-top: 6rem;
  color: white;
  font-size: 25px;
}
.btn1:hover{
background-color: rgba(255, 0, 0, 0.397);
}
.pragh{
text-align: center;
margin: 7rem 2rem;
letter-spacing: 5px;
font-size: 25px;
text-transform: uppercase;
}
.images{
  display: flex;
  justify-content: center;
   /* width: 8rem;  */
  margin: 0px 5rem;
  gap: 2rem;
}
.img_layer{
position: relative;
margin-left: 4rem;
}

.overlayer{
  top: 0px;
  left: 0px;
  display: flex;
  width: 500px;
  height: 450px;
  justify-content: center;
  align-content: center;
  padding-top: 13rem;
  position: absolute;
  background-color: rgba(11, 11, 66, 0.671);
  color: white;
  font-size: 30px;
}
.p3{
  text-align: center;
  font-size: 3rem;
}
.p3:hover{
color: rgb(250, 34, 34);
}
.img2_layer{
position: relative;
}
.over2layer{
  position: absolute;
  top:0.5px;
  left:0.5px;
  width: 500px;
  height: 450px;
  padding-top: 13rem;
  background-color: rgba(245, 70, 70, 0.671);
  color: white;
}
.p4{
  text-align: center;
  font-size: 3rem;
}
.p4:hover{
color: rgb(250, 34, 34);
}

/* .cards{
  margin-top: 10rem;
  text-align: center;
} */
.p5{
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.562);
  font-weight: 400;
}
.p6{
font-size: 50px;
font-weight: 500;
text-transform: capitalize;
margin-bottom: 3rem;
}
/* .card{
  width:60% ;
  display: flex;
}
.card-body{
  text-align: start;
}
.card-title{
text-decoration: none;
font-size: 30px;
font-weight: 700;
} */
/* a:hover{
  color: rgb(229, 14, 11);
} */
/* .p7{
  font-size: 25px;
} */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
   width: 25%;
  height: 28%;
  margin:5rem  2rem ;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.co{
  padding: 0px 16px;

}
.btn_1{
  background-color: rgb(229, 14, 11);
  color: white;
  font-size: 25px;
  margin-top: 2rem;
  padding: 10px 30px;
}
.btn_1:hover{
  background-color: rgba(250, 34, 34, 0.699);
}
.p8{
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 25px;
  margin-top: 30px;
}
.p-1{
width: 50%; 
display: flex; 
justify-content: center;
 margin-left: 15rem; 
 margin-bottom: 3rem;
}
.pa{
  margin-bottom: 5rem; 
  color:rgb(250, 102, 102);
  font-size: 30px;
}
footer{
  
  background-color: rgb(209, 232, 248);
  height: 30rem;
  /* margin: 0px 5rem; */
}
.pl{
  padding-top: 7rem;
  text-align: center;
  letter-spacing: 10px;
  font-size: 25px;
}
.lpart{
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}
.icons{
height: 3rem;
width: 5rem;
}